@import url("https://fonts.maateen.me/solaiman-lipi/font.css");

.c-post-hero__title,
.post__description {
  font-family: "SolaimanLipi", Rubik, Helvetica, sans-serif !important;
}

@media (min-width: 64em) {
  .c-post-hero__content {
    padding: 32px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: end;
    height: 100%;
    border-width: 1px;
    border-color: #ecf0f1 #ecf0f1 #ecf0f1 #fff;
  }
}
.c-post-hero__content {
  background-color: #f4f6f8;
  border-style: solid;
  border-width: 0 1px 1px 1px;
  border-color: #ecf0f1;
  padding: 24px;
}
.c-post-hero__title {
  font-size: 32px;
  margin-top: auto;
}
.c-post-hero__meta {
  font-size: 12px;
  color: #5d738d;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.widget {
  border-left: 1px solid #ecf0f1;
  border-right: 1px solid #ecf0f1;
  border-bottom: 1px solid #ecf0f1;
  counter-reset: widget;
}
.c-widget {
  padding: 32px;
  border-left: 1px solid #ecf0f1;
  border-right: 1px solid #ecf0f1;
  border-bottom: 1px solid #ecf0f1;
  counter-reset: widget;
}
.c-widget-author__image {
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 100%;
  -webkit-box-shadow: 0 0 0 4px #f4f6f8;
  box-shadow: 0 0 0 4px #f4f6f8;
  width: 88px;
  height: 88px;
  margin: 0 auto;
  margin-bottom: 16px;
  border-radius: 100%;
  background-color: #f4f6f8;
  width: 88px;
  height: 88px;
}
.c-widget-author__title {
  margin-bottom: 8px;
  font-size: 19px;
}
.c-widget-author__title:hover {
  color: #b70038;
}
.c-widget__title {
  text-align: left;
  padding-left: 8px;
  margin-bottom: 24px;
  line-height: 1;
  letter-spacing: 1px;
  border-left: 2px solid #b70038;
  font-size: 14px;
  text-transform: uppercase;
}
.c-teaser:first-of-type {
  padding-top: 0;
}
.c-teaser:not(:last-child) {
  padding-bottom: 16px;
  border-bottom: 1px solid #ecf0f1;
}
.c-teaser {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  line-height: 1;
  padding-left: 16px;
  padding-top: 16px;
}
.c-teaser__title {
  margin-bottom: 8px;
  font-size: 14px;
  font-weight: 700;
  line-height: initial;
}
.c-teaser__title:hover {
  color: #b70038;
}
.c-teaser__content {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.c-teaser__date {
  line-height: 1;
  font-size: 12px;
  color: #5d738d;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.c-teaser:before {
  counter-increment: widget;
  content: counter(widget) ". ";
  position: relative;
  left: -16px;
  line-height: 1;
  font-size: 19px;
  font-style: italic;
  font-family: "Playfair Display", serif;
  color: #b70038;
}

/* tag */
.c-tags {
  overflow: hidden;
}
.c-tags-link {
  float: left;
  padding: 8px 20px;
  margin: 0 8px 8px 0;
  font-size: 14px;
  font-weight: 400;
  font-family: Rubik, Helvetica, Arial, sans-serif;
  line-height: 22px;
  color: #5d738d;
  background-color: #f4f6f8;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

/* email twitter */
.o-grid {
  margin: 0 auto;
  max-width: 1200px;
  margin-right: -16px;
  margin-left: -16px;
  padding: 0;
}
.o-grid::before {
  display: table;
  content: "";
}

@media (min-width: 64em) {
  .o-grid__col--2-4-l {
    width: 50%;
  }
}
@media (min-width: 40em) {
  .o-grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    /* flex-wrap: wrap; */
  }
  .o-grid__col--4-4-m {
    width: 100%;
  }
  .o-grid__col--4-4-s {
    width: 100%;
  }
  .o-grid__col {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
  }
}

.o-grid__col {
  padding-right: 16px;
  padding-left: 16px;
}

.c-share {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.o-plain-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.c-share__item:not(:last-child) {
  border-right: 4px solid #fff;
}
.c-share__item {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: center;
}
.c-share__link {
  display: block;
  padding: 5.5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.c-share__link--twitter {
  background-color: #1da1f2;
}
.c-share__link--clipboard {
  background-color: #721bd4;
}
.c-share__link--email {
  background-color: #fff399;
}
.c-share__link--pinterest {
  background-color: #ca2127;
}
.c-share__link--linkedin {
  background-color: #2867b2;
}
.c-share__link--facebook {
  background-color: #1976d2;
}

.icon {
  position: relative;
  display: inline-block;
  width: 25px;
  height: 25px;
  overflow: hidden;
  fill: currentColor;
}
.icon > img {
  margin: 0;
}
.c-share__icon {
  vertical-align: middle;
  fill: #fff;
}
.c-share__icon {
  vertical-align: middle;
  fill: #fff;
}

.post__description > p:first-child::first-letter {
  float: left;
  height: 42px;
  /* margin-top: 12px; */
  margin-right: 8px;
  color: #b70038;
  font-size: 62px;
  line-height: 42px;
  font-style: normal;
  font-weight: 400;
}
div > img {
  margin: 15px auto;
}
