.tags-card {
  width: 100%;
  height: 350px;
  position: relative;
  background-color: #f4f6f8;
}

.u-font-size-tiny {
  font-size: 12px;
  line-height: 19px;
}
.tags-image {
  width: 100%;
  height: 100%;
  display: block;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}
.tags-title {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 24px;
  color: #fff;
  font-size: 19px;
  font-weight: 500;
}
